/*************************************************************************************************************************
    CELLPHONE SIZE    (PAGE-SIZE 1)
*************************************************************************************************************************/

img {
    width: 200px;
    height: 200px;
    margin: 10% auto;
}


/****************************************************************************************************************
    760px and UP     (PAGE-SIZE 2)
****************************************************************************************************************/

@media screen and (min-width: 760px) {
    
    #view-container {
        margin-left: 500px;
        margin-top: 500px;
    }

}