/*************************************************************************************************************************
    CELLPHONE SIZE    (PAGE-SIZE 1)
*************************************************************************************************************************/


#youtube-link {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#snippet-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#snippet-container p {
    font-size: 3em;
    max-width: 300px;
}

#lyric-container {
    min-height: 200px;
    width: 80%;
    background-color: burlywood;
}



/****************************************************************************************************************
    760px and UP     (PAGE-SIZE 2)
****************************************************************************************************************/

@media screen and (min-width: 760px) {
    
    #view-container {
        margin-left: 10%;
    }

    #lyric-container {
        width: 500px;
        height: 100%;
    }
}




/****************************************************************************************************************
    1200px and UP       (PAGE-SIZE 3)
****************************************************************************************************************/


@media screen and (min-width: 1200px){
    
    #view-container {
        margin-left: 0;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
    }
}