/*************************************************************************************************************************
    CELLPHONE SIZE    (PAGE-SIZE 1)
*************************************************************************************************************************/


#youtube-link {
        display: -webkit-flex;
    display: flex;
        -webkit-justify-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#snippet-container {
    color: white;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#snippet-container p {
    max-width: 300px;
    margin-bottom: auto;
    color: #435DA8;
}

#snippet-lyric {
    font-size: 1.75em;
    font-family: 'Kalam', cursive;
}

#snippet-title {
    font-size: 1.5em;
    text-align: right;
    font-family: 'IM Fell English SC', serif;
    margin-top: 5px;
}

#snippet-container p:hover {
    cursor: pointer;
}

#lyric-and-controls-container {
    height: 400px;
    width: 80%;
    align-self: center;
}

#audio-and-exit {
        display: -webkit-flex;
        display: -ms-flexbox;
    display: flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-between;
        -ms-flex-direction: row;
        -ms-justify-content: space-between;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    max-width: 100%;
}

#audio-and-exit audio {
    width: 95%;
}

#exit-icon {
    color: red;
    font-size: 1.5em;
    text-align: right;
    margin: 0 auto;
}

#exit-icon:hover {
    cursor: default;
}

#lyric-container {
    overflow-y: auto;
    background-color: #DEAF7C;
    width: 100%;
    height: 350px;
    font-size: 1.5em;
    padding: 0 10px;
    font-family: 'Special Elite', cursive;
}

#title-in-lyrics {
    font-size: 2em;
}



/****************************************************************************************************************
    760px and UP     (PAGE-SIZE 2)
****************************************************************************************************************/

@media screen and (min-width: 760px) {
    
    #view-container {
        margin-left: 10%;
    }

    #lyric-and-controls-container {
        width: 500px;
        height: 100%;
    }

    #lyric-container {

    }

    #snippet-container {
        margin-bottom: auto;
        margin-top: 0;
    }

    #youtube-link {
        margin: 0;
    }
}




/****************************************************************************************************************
    1200px and UP       (PAGE-SIZE 3)
****************************************************************************************************************/


@media screen and (min-width: 1200px){
    
    #view-container {
        margin-left: 0;
            -webkit-flex-direction: row;
            -webkit-flex-grow: 1;
            -webkit-justify-content: space-around;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
    }
}