/******************************************
    FONTS
******************************************/

@font-face{
    font-family: "Idion";
    src: url("../fonts/Idion.otf");
    src: url("../fonts/Idion.eot");
    src: url("../fonts/Idion.eot?iefix") format("embedded-opentype"), url("../fonts/Idion.woff") format("woff"), url("../fonts/Idion.ttf") format("truetype");
}


/********************************************
    GENERAL
********************************************/

a,
a:hover {
    text-decoration: none;
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    min-height: 100vh;
    background-color: #00331A;
    position: relative;
}

#not-footer-container {
    min-height: 95vh;
    position: relative;
}

#view-container {
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
        -webkit-flex: none;
    flex: none;
}

footer {
        display: -webkit-flex;
    display: flex;
        -webkit-justify-content: flex-end;
        -webkit-flex-direction: column;
    justify-content: flex-end;
    flex-direction: column;
    color: #CBD1D4;
    background-color: black;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5vh;
    min-height: 50px;
    width: 100%;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.2em;
}

#footer-name-email-container {
    display: flex;
    flex-direction: column;
}

#footer-name-email-container p {
    margin: 0;
    padding: 0;
}



/*************************************************************************************************************************
    CELLPHONE SIZE    (PAGE-SIZE 1)
*************************************************************************************************************************/

#page-size {
    display: none;
    position:relative;
    z-index: 1;
}


#view-and-keith-picture-container {
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%; 
    min-height: 100%;
    position: relative;
}

#top-banner {
    width: 100%;
    min-height: 200px;
    border: 0;
    margin: 0;
    background: linear-gradient(to top, #00331A, transparent), url("../img/banner-picture-2.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    font-family: 'IM Fell English SC', serif;
        display: -webkit-flex;
    display: flex; 
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    flex-direction: column;
    align-items: center;
}

#name-title-container {
        display: -webkit-inline-flex;
    display: inline-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #922B21;
}

#name-title-container h1,
#name-title-container h2 {
    margin: 0;
}

#name-title-container h1 {
    font-size: 3em;
}

#name-title-container h2 {
    font-size: 2.25em;
}

#navigation-container {
    margin-top: 30px;
        display: -webkit-flex;
    display: inline-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    flex-direction: column;
    align-items: center;
}

#navigation-container a {
    margin: 15px 0;
    font-size: 1.75em;
    text-decoration: none;
    color: #A88E43;
}

.navigation-selectors-container {  
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
        -webkit-text-align: center;
    flex-direction: column;
    text-align: center;
}




/****************************************************************************************************************
    760px and UP       (PAGE-SIZE 2)
****************************************************************************************************************/


@media screen and (min-width: 760px) {

    #page-size {
        z-index: 2;
    }

    #top-banner {
            -webkit-flex-direction: row;
            -webkit-justify-content: space-between;
            -webkit-align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #name-title-container {
        margin-left: 5%;
    }

    #navigation-container {
            -webkit-flex-direction: row;
        flex-direction: row;
        margin-right: 5%;
    }

    #navigation-container a {
        margin: 0 30px;
    }
    
    #keith-layout-picture {
        background: linear-gradient(to left, #00331A, transparent 30%), linear-gradient(to bottom, #00331A, transparent 30%), url("../img/keith-standing.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 100%;
    }

    #view-and-keith-picture-container {
            -webkit-flex-direction: row;
        flex-direction: row;
    }

    .navigation-selectors-container {
            -webkit-justify-content: space-around;
        justify-content: space-around;
        font-size: 1.5em;
    }

    footer {
            -webkit-flex-direction: row;
        flex-direction: row;
        width: auto;
        right: 0;
        margin-left: 500px;
        background: linear-gradient(to right, #00331A, black 15%);
    }
}


/****************************************************************************************************************
    1200px and UP       (PAGE-SIZE 3)
****************************************************************************************************************/


@media screen and (min-width: 1200px) {
    #page-size {
        z-index: 3;
    }
}