/******************************************
    FONTS
******************************************/

@font-face{
    font-family: "Idion";
    src: url("../fonts/Idion.otf");
    src: url("../fonts/Idion.eot");
    src: url("../fonts/Idion.eot?iefix") format("embedded-opentype"), url("../fonts/Idion.woff") format("woff"), url("../fonts/Idion.ttf") format("truetype");
}


/********************************************
    GENERAL
********************************************/

.italics {
    font-style: italic;
}

a,
a:hover {
    text-decoration: none;
}

h2 {
    margin: 0;
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    min-height: 100vh;
    background-color: #00001A;
    position: relative;
}

#not-footer-container {
    min-height: 95vh;
    position: relative;
}

#view-container {
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
        -webkit-flex: none;
    flex: none;
    background-color: #00001A;
}

footer {
        display: -webkit-flex;
    display: flex;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        -webkit-flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #CBD1D4;
    background-color: black;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 5vh;

    width: 100%;
    font-family: 'IM Fell English SC', serif;
    font-size: 1em;
}

#icon-container {

}


#footer-name-email-container {
        display: -webkit-flex;
        -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
}

#footer-name-email-container p,
#footer-name-email-container a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

#footer-name-email-container a:hover {
    opacity: .5;
}

#icon-container img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

#tooltip {
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    z-index: 5;
}



/*************************************************************************************************************************
    CELLPHONE SIZE    (PAGE-SIZE 1)
*************************************************************************************************************************/

#page-size {
    display: none;
    position:relative;
    z-index: 1;
}


#view-and-keith-picture-container {
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%; 
    min-height: 100%;
    position: relative;
}

#top-banner {
    width: 100%;
    min-height: 200px;
    border: 0;
    margin: 0;
    background: linear-gradient(to top, #00001A, transparent), url("../img/banner-picture-2.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    font-family: 'IM Fell English SC', serif;
        display: -webkit-flex;
    display: flex; 
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    flex-direction: column;
    align-items: center;
}

#name-title-container {
        display: -webkit-inline-flex;
    display: inline-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #922B21;
}

#name-title-container h1,
#name-title-container h2 {
    margin: 0;
}

#name-title-container h1 {
    font-size: 3em;
}

#name-title-container h2 {
    font-size: 2.25em;
}

#navigation-container {
    margin-top: 30px;
        display: -webkit-flex;
    display: inline-flex;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
    flex-direction: row;
    align-items: center;
}

#navigation-container a {
    margin: 15px 15px;
    font-size: 1.75em;
    text-decoration: none;
    color: #FFFFCC;
}

#navigation-container a:hover {
    opacity: .5;
}

#navigation-container .current-page {
    color: #CC9900;
}

.navigation-selectors-container {  
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
}



/****************************************************************************************************************
    AUDIO CONTROLS
****************************************************************************************************************/

#audio-container {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 300px;
	height: 50px;
	background-color: gray;
	border-bottom: black 1px solid;	
}

#progress-container {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
        -webkit-justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	width: 45%;
	height: 100%;
	margin-left: 2px;
}

#progress-label {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 90%;
	margin: 0;
	background-color: black;
	border-radius: 10px;
    font-size: .85em;
}

#progress-label p {
	margin: 0;
	height: 40%;
	color: white;
}

#progress-bar {
	width: 65%;
	height: 10px;
	background: black;
    position: relative;
    margin-left: 5px;
}

#progress {
	background: blue;
	height: 10px;
    width: 0;
    left: 0;
    position: absolute;
}

#progress-bar:hover,
#progress:hover {
    cursor: pointer;
}

#volume-container {
        display: -webkit-flex;
        -webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 15%;
	height: 50px;
    position: relative;
}

#volume-icon {
        -webkit-align-self: center;
	align-self: center;
	position: relative;
    margin-left: 2px;
}

#volume-bar {
	height: 1px;
    width: 40px !important;
	margin-left: 5px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	align-self: center;
	background-color: black;
	-webkit-appearance: none !important;
	position: absolute;
    bottom: 23px;
    outline: none;
    left: 1px;
}

#volume-bar:hover {
    cursor: pointer;
}

#volume-bar::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: url("../img/knob.png") no-repeat;
	height: 12px;
	width: 12px;
}

@supports (-ms-accelerator:true) {   /* for EDGE only */
    #volume-bar {
        height: 5px;
        background-color: white;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {  /* IE only */
    #volume-bar {
        height:auto;
        width: 45px !important;
	    margin-left: 5px;
	    align-self: center;
        background-color: gray;
	    position: static;
	    left: -5px;
        bottom: 23px;
        outline: none;
    }

    #volume-icon {
        display: none;
    }
}

#audio-buttons-container {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 55%;
	height: 100%;
	margin-right: 2px;
}
 .audio-buttons {
	 width: 18%;
	 height: 80%;
	 border: 1px black solid;
	 background-color: #666;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
     z-index: 5;
 }
 
 .audio-buttons p {
	margin: 0;
 }

 .audio-buttons:hover {
     cursor: pointer;
 }
 
 #exit-button {
	 color: red;
 }

 #keith-layout-picture {
     display: none;
 }



/****************************************************************************************************************
    860px and UP       (PAGE-SIZE 2)
****************************************************************************************************************/


@media screen and (min-width: 860px) {

    #page-size {
        z-index: 2;
    }

    #top-banner {
            -webkit-flex-direction: row;
            -webkit-justify-content: space-between;
            -webkit-align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        height: 200px;
        z-index: 1;
    }

    #name-title-container {
        margin-left: 5%;
    }

    #navigation-container {
            -webkit-flex-direction: row;
        flex-direction: row;
        margin-right: 5%;
    }

    #navigation-container a {
        margin: 0 30px;
    }
    
    #keith-layout-picture {
        background: linear-gradient(to left, #00001A, transparent 30%), linear-gradient(to bottom, #00001A, transparent 30%), url("../img/keith-standing2.jpg") no-repeat;  /*used to be #00331A*/
        background-position: top ;  /*center*/
        background-size: 500px 100%; /*contain*/
        width: 500px;
        height: 100%;
        position: fixed;
        margin-top: 200px;
        display: block;
    }

    #view-and-keith-picture-container {
            -webkit-flex-direction: row;
        flex-direction: row;
    }

    .navigation-selectors-container {
            -webkit-justify-content: space-around;
        justify-content: space-around;
        font-size: 1.5em;
    }

    footer {
            -webkit-flex-direction: row;
        flex-direction: row;
        width: auto;
        right: 0;
        margin-left: 500px;
        background: linear-gradient(to right, #00001A, black 15%);
        position: fixed;
    }

    #footer-name-email-container {
        order: 1;
    }

    #audio-container {
        width: 500px;
    }

    #progress-label {
        font-size: 1em;
    }

    #volume-bar {
        left: 5px;
    }
}

@media screen and (min-width: 860px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {  /***  IE only  ***/
    #volume-bar {
        margin-left: 18px;
        position: absolute;
        bottom: -5px;

    }

    #volume-icon {
        display: inline-flex;
    }
}


/****************************************************************************************************************
    1450px and UP       (PAGE-SIZE 3)
****************************************************************************************************************/


@media screen and (min-width: 1450px) {
    #page-size {
        z-index: 3;
    }

    footer {
        font-size: 1.25em;
    }

    #icon-container img {
        width: 35px;
        height: 35px;
        margin: 0 15px;
    }
}

@media screen and (min-width: 1450px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {  /* IE only */
    #youtube-link {
        width: 500px !important;
    }

    #youtube-link-headline,
    #youtube-link-caption {
        width: 500px !important;
    }

    #youtube-link-url {
        width: 500px !important;
    }
}