<!DOCTYPE html>

<html>
<head>
    <title>Keith Sanders - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <div id="top-banner"></div>

    <div id="view-and-keith-picture-container">
        <div id="keith-layout-picture"></div>
        <div class="view-container">
            @RenderBody()
        </div>
        <footer>
            <p>Bill Sanders &copy; 2016</p>
        </footer>
    </div>

    

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
