<!DOCTYPE html>

<html>
<head>
    <title>Keith Sanders - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">    @*font-family: 'IM Fell English SC', serif;*@
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">    @*font-family: 'Shadows Into Light', cursive;*@
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">         @*font-family: 'Special Elite', cursive;*@
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">                 @*font-family: 'Kalam', cursive;*@
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

</head>

<body>

    <div id="not-footer-container">
        <div id="top-banner">
            <div id="name-title-container">
                <h1>Keith Sanders</h1>
                <h2>Singer | Songwriter</h2>
            </div>
            <div id="navigation-container">
                <a href="#">Home</a>
                <a href="#">Music</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div id="page-size"></div>
        <div id="view-and-keith-picture-container">
            <div id="keith-layout-picture"></div>
            <div id="view-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <p>Bill Sanders &copy; 2016</p>
    </footer>

</body>
</html>
