<!DOCTYPE html>

<html>
<head>
    <title>Keith Sanders - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">    @*font-family: 'IM Fell English SC', serif;*@
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <div id="not-footer-container">
        <div id="top-banner">
            <div id="name-title-container">
                <h1>Keith Sanders</h1>
                <h2>Singer | Songwriter</h2>
            </div>
            <div id="navigation-container">
                <a href="#">Home</a>
                <a href="#">Music</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div id="view-and-keith-picture-container">
            <div id="keith-layout-picture" class="picture-and-lyric-container"></div>
            <div id="view-container">
                @RenderBody()
            </div>
            @*footer was here*@
        </div>
    </div>
    <footer>
        <p>Bill Sanders &copy; 2016</p>
    </footer>
    

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
