@{
    ViewBag.Title = "About";
}


<link type="text/css" rel="stylesheet" href="~/css/about.css" />

<div id="about-container">
    <img src="~/img/keith-with-guitar.jpg" />
    <p>Keith Sanders, also known as &ldquo;Sour Sweet Tooth&rdquo; on his <a href="https://www.youtube.com/user/soursweettooth/videos">YouTube</a> and <a href="https://soundcloud.com/sour-sweet-tooth">Soundcloud</a> pages, has written well over one hundred songs, and he adds to his catalogue monthly. His songs combine poignant lyrics and haunting melody. Keith plays venues all over New England. You may contact him at the email address below.</p>
    <a href="mailto:keithsandersmusic@gmail.com">keithsandersmusic@gmail.com</a>
</div>

<script>
    var page = "about";
</script>