<div id="audio-container">
    <div id="progress-container">
        <div id="progress-label">
            <p id="song-time-played">0:00</p>
            <p id="song-length">1:23</p>
        </div>
        <span id="progress-bar"></span>
    </div>
    <div id="volume-container">
        <div id="volume-icon" class="fa fa-volume-up" aria-hidden="true"></div>
        <input id="volume-bar" type="range" min="0" max="10"/>
    </div>
    <div id="audio-buttons-container">
        <div id="play-pause-button" class="audio-buttons"><p class="fa fa-play" aria-hidden="true"></p></div>
        <div id="stop-button" class="audio-buttons"><p class="fa fa-stop" aria-hidden="true"></p></div>
        <div id="back-button" class="audio-buttons"><p class="fa fa-step-backward" aria-hidden="true"></p></div>
        <div id="forward-button" class="audio-buttons"><p class="fa fa-step-forward" aria-hidden="true"></p></div>
        <div id="exit-button" class="audio-buttons"><p class="fa fa-times-circle" aria-hidden="true"></p></div>
    </div>
</div>