@{ 
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/index.css" />

<div id="snippet-container" onclick="LyricSnippet()"></div>

<div id="youtube-link">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/Qdgqi5QHbEo" frameborder="0" allowfullscreen></iframe>
</div>

<audio controls>
    <source src="~/audio/Beholder.wav" type="" />   @*song needs to be converted*@
</audio>

<script type="text/javascript" src="~/js/index.js"></script>
