@{ 
    ViewBag.Title = "Home Page";
}

<div id="youtube-link">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/Qdgqi5QHbEo" frameborder="0" allowfullscreen></iframe>
</div>

<div id="snippet-container"></div>
