@{ 
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/index.css" />

<div id="snippet-container"></div>

<div id="youtube-link">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/Qdgqi5QHbEo" frameborder="0" allowfullscreen></iframe>
</div>


