@{
    ViewBag.Title = "Music";
}
<link rel="stylesheet" type="text/css" href="~/css/index.css?v={random number/string}" />      @*REMOVE ?v={random number/string} BEFORE PRODUCTION !!!!!!!!*@

<div id="snippet-lyric-album-container">
    <div id="snippet-container"></div>
    <div id="lyric-button-container">
        <p id="lyric-button">Show Song List</p>
    </div>
    @*<div id="lyric-and-controls-container"></div>*@
    <div id="album-and-headline-container">
        <h2 id="album-container-headline">Albums</h2>
        <div id="album-container">
            <div id="album1">
                <a href="http://www.cdbaby.com/cd/keithsanders6" target="_blank">
                    <div class="album-image">
                        <img src="~/img/lover-of-the-dark.jpg" />
                        <p>Lover of the Dark</p>
                    </div>
                </a>
            </div>
            <div id="album2">
                <div id="album2">
                    <a href="http://www.cdbaby.com/cd/keithsanders5" target="_blank">
                        <div class="album-image">
                            <img src="~/img/traveler-at-the-gates-of-night.jpg" />
                            <p>Traveler at the Gates of Night</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="youtube-link">
    <div id="youtube-video-container">
        <div id="youtube-slider">
            <h2 id="youtube-link-headline"></h2>
            <iframe id="youtube-link-url" width="300" height="200" src="" frameborder="0" allowfullscreen></iframe>
            <p id="youtube-link-caption"></p>
        </div>
    </div>
    <div id="youtube-link-buttons">
        <button id="youtube-link-left-button"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <button id="youtube-link-right-button"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
</div>

<script>
    var page = "index";
    $("#lyric-and-controls-container").hide();
</script>

<script type="text/javascript" src="~/js/index.js"></script>
