@{ 
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/index.css" />

<div id="snippet-lyric-album-container">
    <div id="snippet-container"></div>
    <div id="lyric-and-controls-container"></div>
    <div id="album-and-headline-container">
        <h2 id="album-container-headline">Albums</h2>
        <div id="album-container">
            <div id="album1">
                <a href="http://www.cdbaby.com/cd/keithsanders6" target="_blank">
                    <div class="album-image">
                        <img src="~/img/lover-of-the-dark.jpg" />
                    </div>
                </a>
            </div>
            <div id="album2">
                <div id="album2">
                    <a href="http://www.cdbaby.com/cd/keithsanders5" target="_blank">
                        <div class="album-image">
                            <img src="~/img/traveler-at-the-gates-of-night.jpg" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="youtube-link">
    <h2 id="youtube-link-headline"></h2>
    <iframe id="youtube-link-url" width="300" height="200" src="" frameborder="0" allowfullscreen></iframe>
    <p id="youtube-link-caption"></p>
</div>

<script type="text/javascript" src="~/js/index.js"></script>
