@{
    ViewBag.Title = "News";
}

<link rel="stylesheet" href="~/css/news.css?v={random number/string}" type="text/css" />

<div id="future-news" class="news-container">
    <h2 class="news-headline">
        Musics To Be
    </h2>
    <ul id="future-news-list">

    </ul>
</div>
<div id="past-news" class="news-container">
    <h2 class="news-headline">
        Musics Past
    </h2>
    <ul id="past-news-list">

    </ul>
</div>

<script>
    page = "news";
</script>
